<div class = "body_text">
  <h1>Hair Care By Holly</h1>
  <br>
  <div class = "slogan">
    <div>Independent Stylist</div>
    <div>in SALON VISAGE</div>
    <div>at the "Biltmore Hotel"</div>
  </div>
  <br>
  <div>517 S. Olive Street</div>
  <div>Los Angeles, CA 90012</div>
  <div>(213) 239-3338</div>
  <div><a href="mailto:hollystylist@ymail.com">hollystylist@ymail.com</a></div>
</div>
